.footer__container_movile {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    box-sizing: border-box;
    height: 100%;
    left: 0;
}

@media screen and (min-width: 767px) {
    .footer__container_movile {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .footer__container_movile {
        display: block;
    }
}