.header__container-texts-movile-savedNews {
    position: absolute;
    top: -350px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: white;
    z-index: 5;
    transition: top 0.3s ease;
    box-sizing: border-box;
    border-bottom: 1px solid #777;
}