.footer__link_text {
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    margin-left: 50px;
    left: 0;
}

.footer__link_text:hover {
    border-bottom: 2px solid black;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__link_text {
        line-height: 48px;
    }
}