.main__cards_button-ShowMore {
    display: block;
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    width: 288px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 50px;
    height: 64px;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .main__cards_button-ShowMore {
        height: 56px;
    }
}

.main__cards_button-ShowMore:hover {
    background-color: #E8E8E8;
}
