.footer__copyright_movile {
    margin: 0;
    padding-top: 20px;
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #B6BCBF;
}